@model IEnumerable<ProyectoRestaurante.Models.Mesa>

@{
    ViewData["Title"] = "Mesa";
}

@section Scripts {
    <script>

        $(document).ready(function () {

            

            $("#displaybtn").click(function () {

                if ($(".btn_hidden").css("display") == "none") {
                    $(".btn_hidden").css("display", "inline-block");
                } else {
                    $(".btn_hidden").css("display", "none");
                }

              
            })


        })
    </script>
 }



<h1>Mesa</h1>

<a 
    asp-action="Create" 
    class="btn btn-outline-primary">
    Nueva Mesa
</a>



<a asp-controller="Home"
   asp-action="Index"
   class="btn btn-outline-success">
    Restaurante
</a>

<a asp-controller="Mesa"
   asp-action="ListaMesa"
   class="btn btn-outline-secondary">
    Lista Mesa
</a>


<div class="registermesa">
<div class="right">
<div class="menu-items">
    <ul>
        @foreach (var item in Model)
        {

                 
                <a asp-controller="Home"
                     asp-action="Index"
                     asp-route-IdMesa="@item.IdMesa"
                     asp-route-descripcion="Arroz">
                    <li>    

                            @if(item.Estado == "Libre")
                            {
                            <h1 style="color:#06a159">Mesa : @item.IdMesa </h1>

 
                            }else
                            {
                            <h1 style="color:red">Mesa : @item.IdMesa </h1>
                           
                            }
                            <br/>
                         
                    Cantidad : @item.Cantidad
                    
                    </li>
                </a>
          

        }
    </ul>

</div>
    </div>
</div>
