
<h1 style="color:blue">
    Log In Usuario
</h1>

<form method="post">
    <label>UserName:</label>
    <input type="text" name="username" class="form-control" required/>
    <label>Password:</label>
    <input type="text" name="password" class="form-control" required/>
    <button class="btn btn-info">
        Log In
    </button>
</form>

<h2 style="color:rebeccapurple">
    @ViewData["MENSAJE"]
</h2>