



<div id="grid">
    <div id="header">
        <button id="btnMenu" onclick="switchSidebar();">
            <i class="fas fa-bars"></i>
        </button>
        <a href="" class="image__container">
            <img src="https://www.foot.com/wp-content/uploads/2017/03/placeholder.gif" alt="">
        </a>
        <div class="navbar">
            Mesas
            <button class="btn">1</button>
            <button class="btn btn--not-available">2</button>
            <button class="btn">3</button>
            <button class="btn">4</button>
            <button class="btn">5</button>
            <button class="btn">+</button>
            <button class="btn">-</button>
        </div>
    </div>
    <div id="sidebar">
        <div id="menu" class="menu--enabled">
            <details class="section">
                <summary class="section__title">Administración</summary>
                <a href="" class="section__element">Tipo de pago</a>
                <a href="" class="section__element">Pago de sueldos</a>
                <a href="" class="section__element">Gastos</a>
                <a href="" class="section__element">Perfil y usuarios</a>
            </details>
            <details class="section">
                <summary class="section__title">Configuración</summary>
                <a href="" class="section__element">Accesos</a>
                <a href="" class="section__element">Compañia y sucursal</a>
                <a href="" class="section__element">Ciudad, estado y país</a>
                <a href="" class="section__element">Adeudos</a>
            </details>
            <details class="section">
                <summary class="section__title">Productos</summary>
                <a href="" class="section__element">Tipo y subtipo</a>
                <a href="" class="section__element">Promociones</a>
                <a href="" class="section__element">Productos</a>
            </details>
            <details class="section">
                <summary class="section__title">Caja</summary>
                <a href="" class="section__element">Mesas y cajas</a>
                <a href="" class="section__element">Liquidación</a>
                <a href="" class="section__element">Corte de caja</a>
                <a href="" class="section__element">Corte de caja general</a>
                <a href="" class="section__element">Caja-Empleado</a>
            </details>
            <details class="section">
                <summary class="section__title">Venta</summary>
                <a href="" class="section__element">Comanda</a>
                <a href="" class="section__element">Devoluciones</a>
                <a href="" class="section__element">Mesas y cajas</a>
                <a href="" class="section__element">Nota de venta</a>
                <a href="" class="section__element">Monitor</a>
            </details>
        </div>
    </div>
    <div id="content">
        <div class="products">
            <button class="icon">
                <i class="fas fa-glass-martini-alt"></i>
            </button>
            <button class="icon">
                <i class="fas fa-coffee"></i>
            </button>
            <button class="icon">
                <i class="fas fa-utensils"></i>
            </button>
            <button class="icon">
                <i class="fas fa-beer"></i>
            </button>
            <button class="icon">
                <i class="fas fa-leaf"></i>
            </button>
        </div>
        <div class="panel">
            <div class="head">
                <div class="banner">
                    <i class="fas fa-home"></i>
                    <span class="title">Bebidas</span>
                </div>
            </div>
            <div class="panal">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
        <div class="info">
            <div class="head">
                <button class="btn active">1</button>
                <button class="btn">2</button>
                <button class="btn">3</button>
            </div>
            <div class="display">
            </div>
        </div>
        <div class="calculator">
        </div>
        <div class="controls"></div>
    </div>
    <div id="messages">
        <div id="alert-region">
            <div class="alert">
                <div class="alert__title">
                    <span class="alert__title--text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias aliquid totam quibusdam ducimus maiores in officia laudantium soluta dolorem quas necessitatibus nemo temporibus, magni, quis nihil. Sit, aspernatur id? Ratione!</span>
                    <span class="alert__title--icon">
                        <i class="fas fa-times"></i>
                    </span>
                </div>
                <div class="alert__body">
                    <label id="msg_alert" class="alert__body--msg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam incidunt adipisci maiores quas id numquam nobis placeat iusto, suscipit atque perspiciatis ea molestias, soluta provident. Fugit quae incidunt cum. Mollitia.</label>
                    <button id="btnAccept" class="alert__body--accept btn">Aceptar</button>
                </div>
            </div>
        </div>
        <div id="notification-region">
            <div class="notification">
                <span class="msg_notification"></span>
            </div>
        </div>
        <div id="modal-region" class="modal-image">
            <div class="image">
                <img id="img_modal" />
                <span class="close-alert"><i class="fas fa-times"></i></span>
            </div>
        </div>
    </div>
</div>